{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<!-- 內容 -->



<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <b>上架新特製餐點</b>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
    
        <div class="card h-lg-100 mt-3">
          <div class="card-header">

            <input type="hidden" id="supervisionOfficeId" name="supervisionOfficeId" value={{supervisionOfficeId}}>

            <!-- 餐點代號 -->
            <div class="mb-3">
              <label class="form-label" for="specialMealCode">特製餐點代號：</label>
              <input class="form-control" id="specialMealCode" type="text" placeholder="" name='specialMealCode'
                value="{{specailMeals.code}}" />
            </div>

            <!-- 餐點名稱 -->
            <div class="mb-3">
              <label class="form-label" for="specialMealName">特製餐點名稱：</label>
              <input class="form-control" id="specialMealName" type="text" placeholder="" name='specialMealName' 
              />
            </div>

            <!-- 餐點敘述 -->
            <div class="mb-3">
              <label class="form-label" for="specialMealInfo">特製餐點敘述：</label>
              <textarea class="form-control" id="specialMealInfo" type='text' name="specialMealInfo"  rows="2"
              ></textarea>
            </div>



            <!-- 餐點售價、單位、庫存 -->
            <div class="row mb-3">

              <div class="col-md-4">
                <label class="form-label" for="specialMealPrice">特製餐點售價：</label>
                <input class="form-control form-inline" id="specialMealPrice" name="specialMealPrice" type="number"  
                />
              </div>

              <div class="col-md-4">
                <label class="form-label" for="specialMealUnit">單位：</label>
                <input class="form-control form-inline" id="specialMealUnit" type="text" placeholder="包、個、支...等" name="specialMealUnit" 
                />
              </div>

              <div class="col-md-4">
                <label class="form-label" for="specialMealStock">特製餐點庫存：</label>
                <input class="form-control form-inline" id="specialMealStock" type="number" name="specialMealStock" value="0"/>
              </div>
                            
            </div>
            
             <!-- 辣味 -->
             {% comment %} <div>
              <div>
                  <label class="form-label">辣味：</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" id="specialMealIsSpicy" type="radio" name="specialMealIsSpicy" value="False">
                  <label class="form-check-label" for="specialMealIsSpicy">否</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" id="specialMealIsSpicy" type="radio" name="specialMealIsSpicy" value= "True">
                  <label class="form-check-label" for="specialMealIsSpicy">是</label>
              </div>
            </div> {% endcomment %}

            <!-- 上架狀態 -->
            <div>
              <div>
                  <label class="form-label">上架狀態：</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" id="specialMealIsPublish" type="radio" name="specialMealIsPublish" value= "True">
                  <label class="form-check-label" for="specialMealIsPublish">上架</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" id="specialMealIsPublish" type="radio" name="specialMealIsPublish" value= "False">
                  <label class="form-check-label" for="specialMealIsPublish">下架</label>
              </div>
            </div>

            <div class="col-12 text-end">
                <button class="btn btn-warning btn-sm" type="submit" name="submit2" value="upload_meal" onclick="location.href='{% url 'add_new_special_meal' %}'">
                  新增特製餐點
                </button>
            </div>
                  
        </div>
      </form>
  </div>
</div>

{% endblock %}