{% extends 'backboard/base.html' %} {% block content %}

<!-- 內容 -->

<div class="g-3 mb-3">
  <div class="d-flex justify-content-between">
    <div class="row mb-3" display="inline-block">
      <b>公告事項</b>
    </div>
    <div class="text-end">        
      <a href="{% url 'edit_announcement' %}" class="btn btn-warning btn-sm" role="button">新增公告</a>
    </div>
  </div>
  

  <div class="col-lg-12 ps-lg-2 mb-3">
    <div class="card h-lg-100">
      <div class="card-header">
        <div id="tableExample2" data-list='{"valueNames":["name","email","age"],"page":10,"pagination":true}'>
            <div class="table-responsive scrollbar">
            <table class="table  table-striped fs--1 mb-0">
                <thead class="bg-200 text-900">
                <tr>
                    <th>日期</th>
                    <th>公告內容</th>
                    <th></th>  
                </tr>
                </thead>
                <tbody class="list">                  
                {% for announcement in announcements %}
                <td class="text-nowrap">{{announcement.create_date}}</td>
                <td class="text-nowrap">{{announcement.content|slice:":30"}}...</td>
                <td><input class="btn btn-warning text-white btn-sm" type="button" value="查看" onclick="location.href='{% url 'announcement_detail' %}?IdAnnouncement={{announcement.id}}'"></td>
                </tr>    
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="text-center">
                {% for page_number in announcements.paginator.page_range %} 
                  {% if page_number == announcements.paginator.ELLIPSIS %} 
                    {{page_number}} 
                  {% else %}
                    <a href="?page={{page_number}}" class="{% if page_number == announcements.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
                  {% endif %} 
                {% endfor %}
            </div>
                
            
            
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}