{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<!-- 內容 -->

<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <b>修改特製餐點</b>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="card h-lg-100 mt-3">
        <div class="card-header">

          <!-- 餐點代號 -->
          <div class="mb-3">
            <label class="form-label" for="specialMealCode">特製餐點代號：</label>
            <input class="form-control" id="specialMealCode" type="text" name='specialMealCode'
              value="{{specialMeal.code}}" />
          </div>

          <!-- 餐點名稱 -->
          <div class="mb-3">
            <label class="form-label" for="specialMealName">特製餐點名稱：</label>
            <input class="form-control" id="specialMealName" type="text" name='specialMealName'
              value="{{specialMeal.name}}" />
          </div>

          <!-- 餐點敘述 -->
          <div class="mb-3">
            <label class="form-label" for="specialMealInfo">特製餐點敘述：</label>
            <textarea class="form-control" id="specialMealInfo" type='text' name="specialMealInfo">{{specialMeal.info}}</textarea>
          </div>

          <!-- 餐點售價、單位、庫存 -->
          {% comment %} <div class="row mb-3">

            <div class="col-md-4">
              <label class="form-label" for="specialMealPrice">特製餐點售價：</label>
              <input class="form-control form-inline" id="specialMealPrice" name="specialMealPrice" type="text"
                value="{{specialMeal.price}}" />
            </div>

            <div class="col-md-4">
              <label class="form-label" for="specialMealUnit">單位：</label>
              <input class="form-control form-inline" id="specialMealUnit" type="text" placeholder="包、個、支...等"
                name="specialMealUnit" value = "{{specialMeal.unit}}" />
            </div>

            <div class="col-md-4">
              <label class="form-label" for="specialMealStock">特製餐點庫存：</label>
              <input class="form-control form-inline" id="specialMealStock" type="text" name="specialMealStock"
                value= "{{specialMeal.stocks}}" />
            </div>

          </div> {% endcomment %}

          <!-- 上架狀態 -->
          <div>
            <div>
              <label class="form-label">上架狀態：</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="specialMealIsPublish" type="radio" name="specialMealIsPublish"
                value="True" {% if specialMeal.isPublish == True %} checked {% endif %} />
              <label class="form-check-label" for="specialMealIsPublish">上架</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="specialMealIsPublish" type="radio" name="specialMealIsPublish"
                value="False" {% if specialMeal.isPublish == False %} checked {% endif %} />
              <label class="form-check-label" for="specialMealIsPublish">下架</label>
            </div>
          </div>

          <div class="col-12 text-end">
            <button class="btn btn-warning btn-sm" type="submit" name="submit" value="edit"
              onclick="location.href='{% url 'special_meals' %}?supervisionOfficeId={{supervisionOfficeId}}'">
              儲存
            </button>
          </div>

          
           
            
            
            

        </div>
      </div>
    </form>  
  </div>
</div>

<script>
  $('#check_all').click(function(event) {
    console.log("Hello world!");
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
  }); 

</script>

{% endblock %}