{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<!-- 內容 -->
<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">
    <b>修改公告內容</b>
        
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card h-lg-100 mt-3">
            <div class="card-header">
                
                <div class="mb-3">
                    <label class="form-label" for="announcementContent">公告內容：</label>
                    {% if announcement %}
                    <textarea class="form-control" id="announcementContent" rows="6" name='announcementContent'>{{announcement.content}}</textarea>
                    {% else %}
                    <textarea class="form-control" id="announcementContent" rows="6" name='announcementContent'></textarea>
                    {% endif %}
                
                </div>

                <div class="col-12 text-end">
                    <button class="btn btn-warning btn-sm" type="submit" name="submit" value="edit"
                    onclick="location.href='{% url 'announcements' %}'">
                    確認送出
                    </button>
                </div>
            
            </div>
        </div>
        
    
    </form>
          
  </div>
</div>

{% endblock %}