{% extends 'backboard/base.html' %} {% block content %}
          <!-- 內容 -->
          <div class="row g-3 mb-3">
            <!-- 左圖 近期訂單數 -->
            <div class="col-lg-6 ps-lg-2 mb-3">
                <div class="card h-lg-100">
                  <div class="card-header">
                    <div class="row flex-between-center">
                      <div class="col-auto">
                        <h6 class="mb-0">七天產品總銷售量</h6>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card-body h-100 pe-0">
                    <!-- Find the JS file for the following chart at: src\js\charts\echarts\total-sales.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public\assets\js\theme.js-->
                    <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                  </div>

                </div>
            </div>

            <!-- 右圖 近期銷售額 -->
            <div class="col-lg-6 ps-lg-2 mb-3">
                <div class="card h-lg-100">
                  <div class="card-header">
                    <div class="row flex-between-center">
                      <div class="col-auto">
                        <h6 class="mb-0">七天總銷售額</h6>
                      </div>
                      <div class="col-auto d-flex">
                        
                      </div>
                    </div>
                  </div>
                  <div class="card-body h-100 pe-0">
                    <!-- Find the JS file for the following chart at: src\js\charts\echarts\total-sales.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public\assets\js\theme.js-->
                    <div class="echart-line-sum-sales h-100" data-echart-responsive="true"></div>
                  </div>
                </div>
            </div>

            <!-- 本月銷售排行 -->
            <div class="col-lg-3 ps-lg-2 mb-3">
                <div class="card h-lg-100">

                    <div class="table-responsive scrollbar">
                        <table class="table table-striped overflow-hidden">

                          <thead>
                            <tr class="btn-reveal-trigger">
                              <th scope="col">本月銷售排行</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for product in productRank %}
                              <tr class="btn-reveal-trigger">
                                <td>{{product.name}}</td>
                                <td class="text-end">{{product.week_sum_nums}}</td>
                              </tr>                         
                            {% endfor %}
                          </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <!-- 未處理訂單 -->
            <div class="col-lg-9 ps-lg-2 mb-3">
                <div class="card h-lg-100">
                    <div class="table-responsive scrollbar">
                        <table class="table table-striped overflow-hidden">
                          <thead>
                            <tr class="btn-reveal-trigger">
                              <th colspan="6">未處理訂單 ({{UndealtOrdersNum}})</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for list in forlooplist %}
                                <tr class="btn-reveal-trigger">
                                  <td>{{list.order.createDate}}</td>
                                  <td >{{list.order.user}}</td>
                                  <td>{{list.order.user.phone}}</td>
                                  <td>{{list.order.supervisionOffice}}</td>
                                  <td>＄{{list.sum}}</td>
                                  <td class="text-end">
                                    <div class="dropdown font-sans-serif position-static">   
                                          <input class="btn btn-warning btn-link text-white btn-sm" type="button" value="查看" onclick="location.href='{% url 'order_detail' %}?IdOrder={{order.id}}'">
                                    </div>
                                  </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <script type="text/javascript"> 
              
              var sum7 = "{{sum7}}";
              var sum6 = "{{sum6}}";
              var sum5 = "{{sum5}}";
              var sum4 = "{{sum4}}";
              var sum3 = "{{sum3}}";
              var sum2 = "{{sum2}}";
              var sum1 = "{{sum1}}";
              var totalSalesInit = function totalSalesInit() {
                var ECHART_LINE_TOTAL_SALES = '.echart-line-total-sales';
                var SELECT_MONTH = '.select-month';
                var $echartsLineTotalSales = document.querySelector(ECHART_LINE_TOTAL_SALES);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                
                function getFormatter(params) {
                  var _params$ = params[0],
                      name = _params$.name,
                      value = _params$.value;
                  var date = new Date(name);
                  return "".concat(months[0], " ").concat(date.getDate(), ", ").concat(value);
                }
              
                if ($echartsLineTotalSales) {
                  // Get options from data attribute
                  var userOptions = utils.getData($echartsLineTotalSales, 'options');
                  var chart = window.echarts.init($echartsLineTotalSales);
                  var monthsnumber = [[sum7,sum6,sum5,sum4,sum3,sum2,sum1]];
                  var last7Days = "{{last7Days}}";
                  var last6Days = "{{last6Days}}";
                  var last5Days = "{{last5Days}}";
                  var last4Days = "{{last4Days}}";
                  var last3Days = "{{last3Days}}";
                  var last2Days = "{{last2Days}}";
                  var last1Days = "{{last1Days}}";
                  var getDefaultOptions = function getDefaultOptions() {
                    return {
                      color: utils.getGrays()['100'],
                      tooltip: {
                        trigger: 'axis',
                        padding: [7, 10],
                        backgroundColor: utils.getGrays()['100'],
                        borderColor: utils.getGrays()['300'],
                        textStyle: {
                          color: utils.getColors().dark
                        },
                        borderWidth: 1,
                        formatter: function formatter(params) {
                          return getFormatter(params);
                        },
                        transitionDuration: 0,
                        position: function position(pos, params, dom, rect, size) {
                          return getPosition(pos, params, dom, rect, size);
                        }
                      },
                      xAxis: {
                        type: 'category',
                        data: [last7Days,last6Days,last5Days,last4Days,last3Days,last2Days,last1Days],
                        boundaryGap: false,
                        axisPointer: {
                          lineStyle: {
                            color: utils.getGrays()['300'],
                            type: 'dashed'
                          }
                        },
                        splitLine: {
                          show: false
                        },
                        axisLine: {
                          lineStyle: {
                            // color: utils.getGrays()['300'],
                            color: utils.rgbaColor('#000', 0.01),
                            type: 'dashed'
                          }
                        },
                        axisTick: {
                          show: false
                        },
                        axisLabel: {
                          color: utils.getGrays()['400'],
                          formatter: function formatter(value) {
                            var date = new Date(value);
                            return "".concat(months[date.getMonth()], " ").concat(date.getDate());
                          },
                          margin: 15
                        }
                      },
                      yAxis: {
                        type: 'value',
                        axisPointer: {
                          show: false
                        },
                        splitLine: {
                          lineStyle: {
                            color: utils.getGrays()['300'],
                            type: 'dashed'
                          }
                        },
                        boundaryGap: false,
                        axisLabel: {
                          show: true,
                          color: utils.getGrays()['400'],
                          margin: 15
                        },
                        axisTick: {
                          show: false
                        },
                        axisLine: {
                          show: false
                        }
                      },
                      series: [{
                        type: 'line',
                        data: monthsnumber[0],
                        lineStyle: {
                          color: utils.getColors().primary
                        },
                        itemStyle: {
                          borderColor: utils.getColors().primary,
                          borderWidth: 2
                        },
                        symbol: 'circle',
                        symbolSize: 10,
                        smooth: false,
                        hoverAnimation: true,
                        areaStyle: {
                          color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                              offset: 0,
                              color: utils.rgbaColor(utils.getColors().primary, 0.2)
                            }, {
                              offset: 1,
                              color: utils.rgbaColor(utils.getColors().primary, 0)
                            }]
                          }
                        }
                      }],
                      grid: {
                        right: '28px',
                        left: '40px',
                        bottom: '15%',
                        top: '5%'
                      }
                    };
                  };
              
                  echartSetOption(chart, userOptions, getDefaultOptions); // Change chart options accordiong to the selected month
              
                  var monthSelect = document.querySelector(SELECT_MONTH);
              
                  if (monthSelect) {
                    monthSelect.addEventListener('change', function (e) {
                      var month = e.currentTarget.value;
                      var data = monthsnumber[month];
                      chart.setOption({
                        tooltip: {
                          formatter: function formatter(params) {
                            var _params$2 = params[0],
                                name = _params$2.name,
                                value = _params$2.value;
                            var date = new Date(name);
                            return "".concat(months[month], " ").concat(date.getDate(), ", ").concat(value);
                          }
                        },
                        xAxis: {
                          axisLabel: {
                            formatter: function formatter(value) {
                              var date = new Date(value);
                              return "".concat(months[month], " ").concat(date.getDate());
                            },
                            margin: 15
                          }
                        },
                        series: [{
                          data: data
                        }]
                      });
                    });
                  }
                }
              };
                
            </script>
            <script type="text/javascript"> 
              
              var sum7Money = "{{sum7Money}}";
              var sum6Money = "{{sum6Money}}";
              var sum5Money = "{{sum5Money}}";
              var sum4Money = "{{sum4Money}}";
              var sum3Money = "{{sum3Money}}";
              var sum2Money = "{{sum2Money}}";
              var sum1Money = "{{sum1Money}}";
              var sumSalesInit = function sumSalesInit() {
                var ECHART_LINE_SUM_SALES = '.echart-line-sum-sales';
                var SELECT_MONTH = '.select-month';
                var $echartsLineSumSales = document.querySelector(ECHART_LINE_SUM_SALES);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                function getFormatter(params) {
                  var _params$ = params[0],
                      name = _params$.name,
                      value = _params$.value;
                  var date = new Date(name);
                  return "".concat(months[0], " ").concat(date.getDate(), ", ").concat(value);
                }
              
                if ($echartsLineSumSales) {
                  // Get options from data attribute
                  var userOptions = utils.getData($echartsLineSumSales, 'options');
                  var chart = window.echarts.init($echartsLineSumSales);
                  var monthsnumber = [[sum7Money,sum6Money,sum5Money,sum4Money,sum3Money,sum2Money,sum1Money]];
                  var last7Days = "{{last7Days}}";
                  var last6Days = "{{last6Days}}";
                  var last5Days = "{{last5Days}}";
                  var last4Days = "{{last4Days}}";
                  var last3Days = "{{last3Days}}";
                  var last2Days = "{{last2Days}}";
                  var last1Days = "{{last1Days}}";
                  var getDefaultOptions = function getDefaultOptions() {
                    return {
                      color: utils.getGrays()['100'],
                      tooltip: {
                        trigger: 'axis',
                        padding: [7, 10],
                        backgroundColor: utils.getGrays()['100'],
                        borderColor: utils.getGrays()['300'],
                        textStyle: {
                          color: utils.getColors().dark
                        },
                        borderWidth: 1,
                        formatter: function formatter(params) {
                          return getFormatter(params);
                        },
                        transitionDuration: 0,
                        position: function position(pos, params, dom, rect, size) {
                          return getPosition(pos, params, dom, rect, size);
                        }
                      },
                      xAxis: {
                        type: 'category',
                        data: [last7Days,last6Days,last5Days,last4Days,last3Days,last2Days,last1Days],
                        boundaryGap: false,
                        axisPointer: {
                          lineStyle: {
                            color: utils.getGrays()['300'],
                            type: 'dashed'
                          }
                        },
                        splitLine: {
                          show: false
                        },
                        axisLine: {
                          lineStyle: {
                            // color: utils.getGrays()['300'],
                            color: utils.rgbaColor('#000', 0.01),
                            type: 'dashed'
                          }
                        },
                        axisTick: {
                          show: false
                        },
                        axisLabel: {
                          color: utils.getGrays()['400'],
                          formatter: function formatter(value) {
                            var date = new Date(value);
                            return "".concat(months[date.getMonth()], " ").concat(date.getDate());
                          },
                          margin: 15
                        }
                      },
                      yAxis: {
                        type: 'value',
                        axisPointer: {
                          show: false
                        },
                        splitLine: {
                          lineStyle: {
                            color: utils.getGrays()['300'],
                            type: 'dashed'
                          }
                        },
                        boundaryGap: false,
                        axisLabel: {
                          show: true,
                          color: utils.getGrays()['400'],
                          margin: 15
                        },
                        axisTick: {
                          show: false
                        },
                        axisLine: {
                          show: false
                        }
                      },
                      series: [{
                        type: 'line',
                        data: monthsnumber[0],
                        lineStyle: {
                          color: utils.getColors().primary
                        },
                        itemStyle: {
                          borderColor: utils.getColors().primary,
                          borderWidth: 2
                        },
                        symbol: 'circle',
                        symbolSize: 10,
                        smooth: false,
                        hoverAnimation: true,
                        areaStyle: {
                          color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                              offset: 0,
                              color: utils.rgbaColor(utils.getColors().primary, 0.2)
                            }, {
                              offset: 1,
                              color: utils.rgbaColor(utils.getColors().primary, 0)
                            }]
                          }
                        }
                      }],
                      grid: {
                        right: '28px',
                        left: '40px',
                        bottom: '15%',
                        top: '5%'
                      }
                    };
                  };
              
                  echartSetOption(chart, userOptions, getDefaultOptions); // Change chart options accordiong to the selected month
              
                  var monthSelect = document.querySelector(SELECT_MONTH);
              
                  if (monthSelect) {
                    monthSelect.addEventListener('change', function (e) {
                      var month = e.currentTarget.value;
                      var data = monthsnumber[month];
                      chart.setOption({
                        tooltip: {
                          formatter: function formatter(params) {
                            var _params$2 = params[0],
                                name = _params$2.name,
                                value = _params$2.value;
                            var date = new Date(name);
                            return "".concat(months[month], " ").concat(date.getDate(), ", ").concat(value);
                          }
                        },
                        xAxis: {
                          axisLabel: {
                            formatter: function formatter(value) {
                              var date = new Date(value);
                              return "".concat(months[month], " ").concat(date.getDate());
                            },
                            margin: 15
                          }
                        },
                        series: [{
                          data: data
                        }]
                      });
                    });
                  }
                }
              };
                
            </script> 
{% endblock %}