{% extends 'backboard/base.html' %} {% block content %}

  <!-- 內容 -->
  <div class="g-3 mb-3">
    <div class="col-lg-12 ps-lg-2 mb-3">
        <!-- 訂單明細 -->
        <div class="card h-lg-100 mb-3">
          <div class="card-header">
              <div class="table-responsive scrollbar">
                <table class="table  table-striped fs--1 mb-0">
                    <p>訂單明細</p>   
                    <thead class="bg-200 text-900">
                      <tr>
                        <th>狀態</th>
                        <th></th>
                        <th>日期</th>
                        <th>姓名</th>
                        <th>電話</th>
                        <th>金額</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                        <tr>                    
                          <td style="padding-right: 0px;"> 
                            <form method="post">{% csrf_token %}
                              <button class="btn btn-outline-warning btn-sm" type="button" data-bs-toggle="modal" 
                                data-bs-target="#modal{{order.state}}" >
                                {{order.state}}
                              </button>
                              <div class="modal fade" id="modal{{order.state}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5>請選擇訂單狀態</h5>
                                    </div>
                                    <div class="modal-body">
                                        {% for orderstate in orderstates %}
                                            <input class="form-check-input" id="OrderState" type="radio" name="OrderState" value="{{orderstate.id}}" 
                                            {% if order.state == orderstate %} 
                                              checked 
                                            {% endif %} 
                                            />
                                            <label class="form-check-label" for="OrderState">{{orderstate.name}}</label>
                                          <hr>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                        取消
                                      </button>
                                      <button class="btn btn-primary" type="submit" name="submit" value="ok" onclick="location.href='{% url 'orders' %}'">
                                        儲存
                                      </button>
                                        
                                    </div>                             
                                  </div>
                                </div>
                              </div>
                            </form>
                          </td>

                          {% if order.is_urgent == True %} 
                          <td class="text-nowrap" style="color: red;"><b>急件</b></td>  
                          {% else %}
                          <td class="text-nowrap"></td>
                          {% endif %}

                          <td class="text-nowrap">{{order.createDate}}</td>
                          {% if order.user %}                                                  
                            <td class="text-nowrap">{{order.user.name}}</td>
                            <td class="text-nowrap">{{order.user.phone}}</td>
                          {% else %}
                            <td class="text-nowrap">該會員已刪除</td>
                            <td class="text-nowrap"></td>
                          {% endif %}
                          <td class="text-nowrap">{{order.orderMoney}}</td>
                        </tr>       
                    </tbody>
                </table>
              </div>
          </div>
        </div>
      
        <!-- 金流明細 -->
        <div class="card h-lg-100 mb-3">
          <div class="card-header">
            {% if order.paymentType == 'cvs' %}
              <!-- 超商代碼付款 -->
              <p>金流明細&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <hr>
              <p>
                {% if order.cashflowState == "paid" %}
                  <button type="button" class="btn btn-outline-dark btn-sm" style="pointer-events:none;">已付款</button>
                {% else %}
                  <button type="button" class="btn btn-outline-dark btn-sm" disabled>未付款</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;超商代碼付款 {{order.CVSInfoPaymentNo}}
                {% endif %}
              </p>
              {% else %}
              <!-- ATM轉帳 -->
              <p>金流明細&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATM 王道銀行(048)：01000107609788</p>
              <hr>
              <p>
                {% if order.cashflowState == "paid" %}
                  <button type="button" class="btn btn-outline-dark btn-sm" style="pointer-events:none;">已付款</button>
                {% else %}
                  <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal_state">未付款</button>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if order.ATMFiveDigit != "" and order.ATMFiveDigit != None %}
                  付款後五碼：{{order.ATMFiveDigit}}
                {% else %}
                  付款後五碼：尚未回填
                {% endif %}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="modal fade" id="modal_state" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form method="post">{% csrf_token %}
              <div class="modal-content">
                <div class="modal-header">
                  <h5>是否已付款</h5>
                </div>
                <div class="modal-body">
                  請確認消費者是否已付款(不可回復)?
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                    取消
                  </button>
                  <input type="hidden" id="state" name="cashflow_state" value="paid">
                  <button class="btn btn-primary" type="submit" name="submit" value="ok" onclick="location.href='{% url 'order_detail' %}?order_id={{order.id}}'">
                    已付款
                  </button>
                </div>                             
              </div>
            </form>
          </div>
        </div>

        {% comment %} <div class="card h-lg-100 mb-3">
          <div class="card-header">
              <div class="table-responsive scrollbar">
                <table class="table  table-striped fs--1 mb-0">
                  <p>金流明細</p>
                  <thead class="bg-200 text-900">
                        <tr>
                          <th >付款狀態</th>
                          <th >付款方式</th>
                        </tr>
                  </thead>
                  <tbody class="list">   
                      <tr>
                        <td >
                          {% if order.cashflowState == "paid" %}
                            <button type="button" class="btn btn-outline-dark btn-sm">已付款</button>
                          {% else %}
                             <button type="button" class="btn btn-outline-dark btn-sm">尚未付款</button>
                          {% endif %}
                        </td>
                        <td>
                          {% if order.paymentType == "credit" %}
                            信用卡
                          {% elif order.paymentType == "atm" %}
                            ATM轉帳
                          {% elif order.paymentType == "cvs" %}
                            超商付款
                          {% endif %}
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div> {% endcomment %}
  
        <!-- 收件者明細 -->
        <div class="card h-lg-100 mb-3">
          <div class="card-header">
            <div class="table-responsive scrollbar">
              <table class="table  table-striped fs--1 mb-0">
                  <p>收件者資料</p>
                  <thead class="bg-200 text-900">
                    <tr>
                      <th>站所</th>
                      <th>收件人姓名及編號</th>
                      <th>寄件人姓名</th>
                      <th>寄件人LINE ID</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td>{{order.supervisionOffice}}</td>
                      <td>{{order.prisoner_name}} {{order.prisoner_id}}</td>
                      <td>{{order.sender_name}}</td>
                      <td>{{order.user.line_user_id}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      
        <!-- 商品明細 -->
        <div class="card h-lg-100 mb-3">
          <div class="card-header">
            <div class="table-responsive scrollbar">
              <table class="table  table-striped fs--1 mb-0">
                <p>訂購商品明細</p>
                <thead class="bg-200 text-900">
                  <tr>
                    <th>商品編號</th>
                    <th>商品名稱</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th class="text-end">小計</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for ship in mealShips %}
                    <tr>
                      <td></td>
                      {% if ship.meal.code == "999" %}
                        <td>{{ship.meal.name}}<br>
                          {% for specialMealShip in specialMealShips %}
                          &emsp;&emsp;{{specialMealShip.special_meal.name}} {% if specialMealShip.special_meal.isSpicy == True %} 加辣 {% else %} 不辣 {% endif %}<br>
                          {% endfor %}
                        </td>
                      {% else %}
                        <td>{{ship.meal.name}}</td>
                      {% endif %}
                      <td>{{ship.meal.price}}</td>
                      <td>{{ship.amount}}</td>
                      <td class="text-end">{% widthratio ship.meal.price 1 ship.amount %}</td>
                    </tr>
                  {% endfor %}
                  {% for ship in ships %}
                    <tr>
                      <td>{{ship.product.code}}</td>
                      <td>{{ship.product.name}}</td>
                      <td>{{ship.product.price}}</td>
                      <td>{{ship.amount}}</td>
                      <td class="text-end">{% widthratio ship.product.price 1 ship.amount %}</td>
                    </tr>
                  {% endfor %}
                  {% for ship in outsideProductShips %}
                    <tr>
                      <td>{{ship.outside_product.code}}</td>
                      <td>{{ship.outside_product.name}}</td>
                      <td>{{ship.outside_product.price}}</td>
                      <td>{{ship.amount}}</td>
                      <td class="text-end">{% widthratio ship.outside_product.price 1 ship.amount %}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <td>零用金</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{order.petty_cash}}</td>
                  </tr>
                  <tr>
                    <td>運費</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{order.ship_fee}}</td>
                  </tr>
                  <tr>
                    <td>急件</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if order.is_urgent == True %} 
                    <td class="text-end" style="color: red;"><b>運費已包含急件費用</b></td>
                    {% else %}
                    <td class="text-end">非急件</td>
                    {% endif %}
                    
                  </tr>
                  <tr>
                    <td>總計</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{order.orderMoney}}</td>
                  </tr>
                </tfoot>  
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}